* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.app {
    background-color: rgb(250, 249, 246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url(assets/img/phone-ventura-macOs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.calculator {
    color: white;
    width: 100%;
    width: 235px;
    height: 322px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}



.display {
    height: 82px;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    text-align: right;
    background-color: rgb(59, 59, 59);
}

.display .input {
    font-size: 16px;

}

.display .output {
    font-size: 32px;
    width: 100%;
}

.display .operator {
    color: rgb(184, 124, 32);
    padding: 8px;

}

.keys {
    background-color: gray;
    display: grid;
    background-color: rgb(59, 59, 59);
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}

.keys .key:active {
    background-color: rgb(164, 164, 164);
}

.grid-span-2 {
    grid-column: span 2;
}

.keys .key.action {
    background-color: rgb(77, 77, 77);
    font-size: 18px;
    padding-top: 15px;
}

.keys .key.action:active {
    background-color: rgb(105, 105, 105);

}

.keys .key.operator,
#result-btn {
    background-color: rgb(227, 158, 40);
    font-size: 23px;
}

.keys .key.operator:active,
#result-btn:active {
    background-color: rgb(184, 124, 32);
}

.keys .key {
    position: relative;
    cursor: pointer;
    display: block;
    background-color: rgb(105, 105, 105);
    padding: 10px 10px;
    text-align: center;
    font-size: 23px;
}

footer {
    padding-top: 1rem;
}



@media only screen and (min-width: 760px) {

    .image-container {
        background-image: url(assets/img/ventura-macOs.jpg);
        background-size: cover;
    }

}